:root {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
}

body,
button,
input,
textarea {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #ccc;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: grid;
	place-items: center;
	background-color: #151515;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
	width: 100%;
	height: 96%;
	max-width: 900px;
	display: grid;
	place-items: center;
	overflow-y: auto;
}

h1, h2, h3 {
	justify-self: flex-start;
	text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}